@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* ------------------------------------------------------------------ 
 Base
 ------------------------------------------------------------------ */

html {
    margin:0 auto;
    padding:0;

    width: 100%;
	height: 100%;
}

body{
	margin: 0;

	font-family: 'Bebas Neue', cursive;
	color: #d9d9d9;

	background-color: #322e2f;
	background-size: 100% 100%;

	width: 100%;
	height: 100%;
}


section {
	/*border: 1px solid white;*/

	border-collapse: collapse;
}

a{
	color: #12a4d9;
}

a:hover{
	color: #cf1578;
/*	transition: 2s;*/

	text-decoration: none;
}
/*a:hover:before{
	content: "<";
}
a:hover:after{
	content: ">";
}*/


.upper-left .semester{
	font-size: 30px;

}
.upper-left .class-number{
    font-size: 150px;
    letter-spacing: 10px;
}
.upper-left img{
	transform:rotate(-7deg);
}
@media (max-width: 1600px){
	.upper-left .class-number{
	    font-size: 115px;
	    letter-spacing: 10px;
	}
}	


.upper-right .login-container{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	width: 90%;
}
.upper-right a{
	font-size: 60px;

	padding: 20px;

	display: block;
}


.middle .welcome{
	font-style: italic;
	font-size: 200px;
	letter-spacing: 2px;
	color: #e8d21d;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.1em;
}
@media (max-width: 1600px){
	.middle .welcome{
	    font-size: 170px;
	    letter-spacing: 2px;
	}
}


.bottom-left .name-reference{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.bottom-left .class-name{
	width: 109%;
	font-size: 30px;

	margin-bottom: 10px;
}
.bottom-left .img-reference{
	background: url(../images/book-reference.png);
	background-repeat: no-repeat;
	background-position: 28% 0px;
}

.bottom-left a{
	display: block;
	font-size: 25px;
	padding: 15px;
}



.bottom-right{
	font-size: 50px;
}
.bottom-right .team-reference{
	text-align: center;
	font-family: 'Raleway', sans-serif;

	width: 90%;

	background: url(../images/go-to.png);
	background-repeat: no-repeat;
	background-position: 78% 0px;
}
.bottom-right .team-reference a{
	display: block;
}
@media (max-width: 1800px){
	.bottom-left .img-reference, .bottom-right .team-reference{
		background: none;
	}
}

/* ------------------------------------------------------------------ 
 layout
 ------------------------------------------------------------------ */

/*page grid - layout*/
body{
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
  	grid-template-rows: repeat(3, 33.33%);
}

/*upper-left  - layout*/
.upper-left{
	grid-column: 1 / 2;
}
.upper-left .number-semester{
	position: relative;
	left: 200px;
    top: 75px;
}
.upper-left .number-semester .semester{
	position: relative;
	left: 46.8%;
    top: 40px;
}
@media (max-width: 1600px){
	.upper-left .number-semester .semester{
    	top: 30px;
	}
}	
.upper-left img{
	position: absolute;
	left: 2%;
    top: 0px;
}


/*upper-right  - layout*/
.upper-right{
	grid-column: 3 / 4;
}
.upper-right .login-container{
	position: relative;
	text-align: center;
    top: 43.3%;
    left: 3.2%;

    width: 90%;
}


/*middle - layout*/
.middle{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.middle .welcome{
	position: relative;
	top: 5%;
    left: -25%;
}


/*bottom-left - layout*/
.bottom-left{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
.bottom-left .name-reference{
	position: relative;
	top: 25.6%;
    left: 11.7%;
}


/*bottom-right - layout*/
.bottom-right{
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}
.bottom-right .team-reference{
	position: relative;
    top: 31.2%;
    left: 3.2%;
}


 /* ------------------------------------------------------------------ 
 module
 ------------------------------------------------------------------ */
 @media screen and (max-width:967px){
        .section{
            display:block;
        }

        html{
 		  display:block;
 	}
     
        body{
            display:block;
        }
    }


 /* ------------------------------------------------------------------ 
 state
 ------------------------------------------------------------------ */

