@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* ------------------------------------------------------------------ 
 Base
 ------------------------------------------------------------------ */

html {
    margin:0 auto;
    padding: 0;
    width: 100%;
	height: 100%;
}

body{
	margin: 0;

	font-family: 'Nunito', cursive;
	color: #878787;

	background-image: url(../images/bg3.png);
	background-size: 100% 100%;

	width: 100%;
	height: 100%;
}


section {
	border-collapse: collapse;
}

a{

	color: #1F5A94;

	text-decoration: none;
}

a:hover{

	color: #12a4d9;
	text-decoration: underline;
/*	transition: 2s;*/
}

/* ------------------------------------------------------------------ 
 layout
 ------------------------------------------------------------------ */

/*page grid - layout*/
body{
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
  	grid-template-rows: repeat(3, 33.33%);
}

/*upper-left  - layout*/
.upper-left{
	grid-column: 1 / 2;
}
.upper-left .number-semester{
	position: relative;
	left: 32.5%;
    top: 27.2%;
}
.upper-left .number-semester .semester{
	position: relative;
    /*top: 40px;
    left: 67%;*/
}

.upper-left img{
	position: absolute;
	left: 2%;
    top: 0px;
}


/*upper-right  - layout*/
.upper-right{
	grid-column: 3 / 4;
}
.upper-right .login-container{
	position: relative;
	text-align: center;
    top: 43.3%;
    left: -0.8%;

    width: 90%;
}
.upper-right .login-container a::before{
	content: url(../images/login-black.png);
	position: relative;
	top: 9px;

}
/*middle - layout*/
.middle{
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}
.middle .welcome{
	position: relative;

}

/*bottom-left - layout*/
.bottom-left{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
.bottom-left .name-reference{
	position: relative;
	top: 25.6%;
    left: 11.7%;
}

/*bottom-right - layout*/
.bottom-right{
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}
.bottom-right .team-reference{
	position: relative;
    top: 31.2%;
    left: 3.2%;
}


/* ------------------------------------------------------------------ 
Modules
 ------------------------------------------------------------------ */

.upper-left .number-semester {
	width: 180%;	
}
.upper-left .number-semester .semester{
	font-size: 30px;
}
.upper-left .class-number{
    font-size: 100px;
    letter-spacing: 2px;
}
.upper-left .class-number:before{
	content: "2020 SUMMER";
    font-size: 30px;
    display: block;

	position: relative;
    left: 205px;
    top: 35px;
    
    letter-spacing: normal;
}
.upper-left img{
	transform:rotate(-7deg);
}


.upper-right .login-container{
	text-align: center;
	font-family: 'Nunito', sans-serif;
	width: 90%;
}
.upper-right a{
	font-size: 60px;

	padding: 20px;

	display: block;
}


.middle .welcome{
	font-style: italic;
	font-size: 200px;
	letter-spacing: 2px;
	color: #cf1578;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 0.1em;

	text-align: center;

	width: 100%;
}


.bottom-left .name-reference{
	font-family: 'Nunito', sans-serif;
	text-align: center;
}
.bottom-left .class-name{
	font-size: 30px;

	margin-bottom: 10px;
}
.bottom-left .img-reference{
	background: url(../images/book-reference.png);
	background-repeat: no-repeat;
	background-position: 28% 0px;
}

.bottom-left a{
	display: block;
	font-size: 25px;
	padding: 15px;
}


.bottom-right{
	font-size: 50px;
}
.bottom-right .team-reference{
	text-align: center;
	font-family: 'Nunito', sans-serif;

	width: 90%;

	background: url(../images/go-to.png);
	background-repeat: no-repeat;
	background-position: 78% 0px;
}
.bottom-right .team-reference a{
	display: block;
}



/* ------------------------------------------------------------------ 
 layout
 ------------------------------------------------------------------ */

/*page grid - layout*/
body{
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
  	grid-template-rows: repeat(3, 33.33%);
}




/*upper-left  - layout*/
.upper-left{
	grid-column: 1 / 2;
}
.upper-left .number-semester{
	position: relative;
	left: 35.5%;
    top: 27.2%;
}
.upper-left .number-semester .semester{
	position: relative;
    /*top: 40px;
    left: 67%;*/
}

.upper-left img{
	position: absolute;
	left: 6.1%;
    top: 7%;
}





/*upper-right  - layout*/
.upper-right{
	grid-column: 3 / 4;
}
.upper-right .login-container{
	position: relative;
	text-align: center;
    top: 43.3%;
    left: 3.2%;

    width: 90%;
}





/*middle - layout*/
.middle{
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}
.middle .welcome{
	position: relative;

}





/*bottom-left - layout*/
.bottom-left{
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
.bottom-left .name-reference{
	position: relative;
	top: 25.6%;
    left: 11.7%;
}





/*bottom-right - layout*/
.bottom-right{
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}
.bottom-right .team-reference{
	position: relative;
    top: 31.2%;
    left: 3.2%;
}


 /* ------------------------------------------------------------------ 
 media query
 ------------------------------------------------------------------ */

/*   1900px   */
@media (max-width: 1900px){
	.bottom-left .img-reference, .bottom-right .team-reference{
		background: none;
	}
}
/**/


/*   1600px   */
@media (max-width: 1600px){
	.upper-left .class-number{
	    font-size: 90px;
	    letter-spacing: 10px;
	}
	.middle .welcome{
	    font-size: 170px;
	    letter-spacing: 2px;
	}
	.upper-left .class-number::before {
		left: 209px;
    	top: 33px;
	}
	.upper-left img {
	    position: absolute;
	    left: 5.1%;
    	top: 6%;
	}
}	
/**/

/*   1400px   */
@media (max-width: 1400px){
	.upper-left img {
		display: none;
	}
}

/*   850px   */
@media (max-width: 900px){
	.upper-left .number-semester{
		left: 15.5%;
    	top: 34.2%;
	}
	.upper-left .class-number{
	    font-size: 80px;
	    letter-spacing: 10px;
	}
	.middle .welcome{
	    font-size: 140px;
	    letter-spacing: 2px;
	}
	.upper-left .class-number::before {
		left: 190px;
    	top: 29px;
    	font-size: 27px;
	}
}
/**/



/*   750px   */
@media (max-width: 750px){
	.upper-left .number-semester{
		left: 15.5%;
    	top: 38.2%;
	}
	.upper-left .class-number{
	    font-size: 70px;
	    letter-spacing: 10px;
	}
	.middle .welcome{
	    font-size: 125px;
	    letter-spacing: 2px;
	}
	.upper-left .class-number::before {
		left: 162px;
    	top: 25px;
    	font-size: 25px;
	}
	.bottom-left .class-name{
		font-size: 25px;
	}
	.upper-right a{
		font-size: 50px;
	}
	.bottom-right .team-reference a{
		font-size: 40px;
	}
	.bottom-left .name-reference {
	    position: relative;
	    top: 15.6%;
	    left: 11.7%;
	}
}
/**/



/*   660px   */
@media (max-width: 660px){
	.upper-left .class-number{
	    font-size: 60px;
	}
	.middle .welcome{
	    font-size: 110px;
	    letter-spacing: 2px;
	}
	.upper-left .class-number::before {
		left: 138px;
    	top: 23px;
    	font-size: 23px;
	}

}
/**/




/*  580px  */
@media (max-width: 580px){
	.upper-left .class-number{
	    font-size: 48px;
	}
	.upper-left .class-number::before {
		left: 126px;
    	top: 18px;
    	font-size: 18px;
	}
	.middle .welcome{
	    font-size: 95px;
	}
	.bottom-left .name-reference{
		top: 0%;
	}
	.bottom-left .class-name{
		font-size: 25px;
	}
	.upper-right a{
		font-size: 40px;
	}
	.bottom-right .team-reference a{
		font-size: 30px;
	}
}



/*  500px  */
@media (max-width: 500px){
	.upper-left .number-semester {
	    left: 12.5%;
    	top: 42.2%;
	}
	.upper-left .class-number{
	    font-size: 41px;
	}
	.upper-left .class-number::before {
		left: 111px;
    	top: 12px;
    	font-size: 16px;
	}
	.middle .welcome{
	    font-size: 85px;
	}
	.bottom-left .name-reference{
		top: -6.8%;
	}
}




 /* ------------------------------------------------------------------ 
 module
 ------------------------------------------------------------------ */

 /* ------------------------------------------------------------------ 
 state
 ------------------------------------------------------------------ */


