@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/*******************************BASE STYLES*************************************/
img
{
	height: auto;
	max-width: 100%;
}
figcaption
{
    line-height: 24px;
}

body {
	background: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	line-height: 2.2em;
	margin: 0px;
	background-image: url(../images/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;

}


h1 {
	color: #cf1578;
	font-family: 'Nunito', sans-serif;
}

h2{
	font-family: 'Nunito', sans-serif;
	color: #cf1578;
	font-weight : bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h3 {
	margin-bottom : 0px;
	font-family: 'Nunito', sans-serif;
}

h4 {
	color: #000000;
	font-family: 'Nunito', sans-serif;
}


a {
	font-weight: 600;
	font-size: 1.1em;
	color: #ef129f;
	text-decoration : none;
}

a:hover {
	color: #12a4d9;
	text-decoration: underline;
}


figure {
	text-align: center;
	/* padding: 100px 0px 100px 0px; */
	/* margin-top: 0; */
}

figcaption{
	
	text-align: center;
}

span{
	font-size: 25px;
}


footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;


	background-color:#696364 ;

	height: 50px;
}
footer .footer{
	text-align: center;

	color: white;
	
	margin-top: 0;
}

footer .footer a{
	color: #12a4d9;

}
footer .footer a:hover{
	color: #14C0FF;
}
/*********************LAYOUT*************************************/

.grid{
	display: grid;
	grid-template-columns: 1.2fr 1.3fr 1.05fr;
	
	grid-column-gap: 15px;
	grid-row-gap: 0px;
}


.name_pic_column{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.name_pic_column h2{
	margin-bottom: 10px;
}

.name_pic_column p{
	padding-right: 10px;
    font-size: 1.2em;
}
.bio_column{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.bio_column p{
	position: relative;
	top: 45%;
	transform: translate(0, -50%);

    font-size: 1.15em;
    font-weight: 600;
}



.readmore_column{
	grid-column: 3 / 4;
	grid-row: 1 / 2;

	display: flex;
}
.readmore_column a.read-more{
	flex: 0 0 auto;
	height: fit-content;
	position: relative;
	
	top: 45%;
}

.readmore_column div{
	margin-left: 14%;

	font-size: 1.2em;
}
.readmore_column a.delete{
	display: block;
	position: relative;
	top: 50%;

	color: #12a4d9;
}
.readmore_column a.edit{
	display: block;
	position: relative;
	top: 35%;

	color: #12a4d9;
}


.ac{
	grid-column: 1;
	grid-row: 1;
}

.classes{
	grid-column: 2;
	grid-row: 1;
}


/************************************MODULES***********************************/

.description{
	text-shadow: 1.5px 1.5px white;
}
.grid{
	margin-bottom: 50px;
}
.grid figure{
	margin-left: 0px; /*align img and heading on the same vertical line*/
}


.heading {
	padding-bottom: 10px;
	border-bottom: solid 10px;
	border-bottom-color: #cf1578;
	background-color: #696364;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	
}

.heading_content{
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

.heading_content figure{
	padding-top: 20px;
	padding-bottom: 0px;
}

main header {
	flex-direction: column;
}

.side-by-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.london{
	font-size: 40px;
	padding-top: 5px;
	color: #e8d21d;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 2px;
}


/*home button*/
.homebtn{
	
    font-size: 22px;
    left: -30px;
	
    width: fit-content;
}
.homebtn a{
	width: 100%;
    height: 100%;
    display: block;
	color: #12a4d9;
    padding-top: 15px;

}
.homebtn a::before{
    background-repeat: no-repeat;
    position: relative;
    left: 6px;
}
.homebtn a:hover{
	color: #14C0FF;
}
/**/


/*login button*/
.studentlist_login{
	font-size: 22px;
	
}





.name{
	color: #e8d21d;
	font-family: 'Nunito', sans-serif;
	padding-top: 0px;
}


/*quote design*/

#aamilne, #play, #tolstoy, #lived, #quote, #quote2{
	font-size: 25px;
	font-weight: bold;

	padding-top: 40px;
    padding-bottom: 90px;
}


/*modify button*/
.modify-button{
	position: fixed;
	right: 12%;
	top: 38%;

	color: #1F5A94;
}
.modify-button:hover{
	color: #12a4d9;
}
.modify-button::before{
	content: url(../images/modify.png);
	position: relative;
	right: 6px;
	top: 6px;
}


a.edit:hover, a.delete:hover{
	color: #14C0FF;
}
a.new{
	text-align: center;

	font-size: 1.4em;
	color: #12a4d9;

	margin: 0 auto;
	
	width: 40%;
	height: 100%;
    display: block;
}


.done-button{
	position: absolute;
	top: 7px;
    right: 12%;
    font-size: 1.6em;

    color: white;
    background-color: #12a4d9;

    text-align: center;

    width: 100px;

    border-radius: 10px;
    padding-right: 17px;
}
.done-button:hover{
	color: white;
	background-color: #1F5A94;
}
.done-button:before{
	content: url(../images/go-back.png);
	position: relative;
    right: -7px;
}

/*******************************State************************************/

 @media screen and (max-width:967px){
 	html{
 		  display:block;
 	}

 	footer{
 		display:block;
 	}
        .container{
            display:block;
 	}
 	}



