@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*******************************BASE STYLES*************************************/

body {
	background: #FFFFFF;
	font-family: 'PT Sans', sans-serif;
	line-height homebtn: 2.2em;
	margin: 0px;
	background-image: url(../images/bg_swoosh.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}


h1 {
	color: #cf1578;
	font-family: 'Nunito', sans-serif;
}

h2{
	font-family: 'Nunito', sans-serif;
	color: #cf1578;
	font-weight : bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h3 {
	margin-bottom : 0px;
	font-family: 'Nunito', sans-serif;
}

h4 {
	color: #000000;
	font-family: 'Nunito', sans-serif;
}


a {
	font-weight: 600;
	font-size: 1.1em;
	color: #1F5A94;
	text-decoration : none;
}

a:hover {
	color: #12a4d9;
}


figure {
	text-align: center;
	/* padding: 100px 0px 100px 0px; */
	/* margin-top: 0; */
}

figcaption{
	
	text-align: center;
}

span{
	font-size: 25px;
}


footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 100%;
	padding-top: 0px;
	padding-left: 22%;
	padding-bottom: 0px;
}

/*********************LAYOUT*************************************/


.grida {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.gridi {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.pets{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 0px;
}

.one{
	grid-row: 1;
	grid-column: 1;
}

.pets figure{
	grid-row: 1;
	grid-column: 2;
}

.grid{
	display: grid;
	grid-template-columns: 1.3fr 1.5fr 1fr;
	
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.grid figure{
	margin-left: 0px; /*align img and heading on the same vertical line*/
}

.intrf{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.intrp{
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	
}
.intrp p{
	height: 398px;
	display: table-cell;
    vertical-align: middle;
}
.rdmore{
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.rdmore a{
	height: 398px;
	display: table-cell;
    vertical-align: middle;
}

.Academics{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*grid-template-rows: repeat(2, 1fr);*/
	grid-column-gap: 50px;
	grid-row-gap: 0px;
}

.ac{
	grid-column: 1;
	grid-row: 1;
}

.classes{
	grid-column: 2;
	grid-row: 1;
}

.classes .accordion .cs:hover{
	color: #1F5A94;
}

.Academics h3{
	background-color: #e9eaea;
	padding: 10px 0px 10px 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: 0.5px solid slategrey;
	color: #1F5A94;
}

.Academics h3:hover{
 	color: #12a4d9;
}

.Favourites h4{
	background-color: #e9eaea;
	padding: 10px 0px 10px 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	border-bottom: 0.5px solid slategrey;
	color: #1F5A94;
}


/************************************MODULES***********************************/

/* black background */
.blacktop{
	min-height: 20vh;
	padding-bottom: 3px;
	border-bottom: solid 10px;
	border-bottom-color: #cf1578;
	background-color: #322e2f;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
}

.blacktop2{
	padding-bottom: 10px;
	border-bottom: solid 10px;
	border-bottom-color: #cf1578;
	background-color: #322e2f;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
}

.blackcontent{
	margin: 0 auto;
	max-width: 1000px;
	width: 95%;
}

.blackcontent figure{
	padding-top: 20px;
	padding-bottom: 0px;
}

main header {
	flex-direction: column;
}

.side-by-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.London{
	font-size: 40px;
	padding-top: 5px;
	color: #e8d21d;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 2px;
}

.homebtn{
	position: relative;
    height: 49px;
    width: 150px;
    top: 85px;
    left: 720px;
    text-align: center;
    font-size: 22px;
}

.homebtn a{
	width: 100%;
    height: 100%;
    display: block;
	color: #12a4d9;
    padding-top: 15px;

    background-image: url(../images/go-back.png);
    background-repeat: no-repeat;
    background-position: 10px 18px;
}

.homebtn a:hover{
	color: #1F5A94;
}

.name{
	color: #e8d21d;
	font-family: 'Nunito', sans-serif;
	padding-top: 0px;
}

.accordion h4:hover{
	color: #12a4d9;
}

 @media screen and (max-width:967px){
 	html{
 		  display:block;
 	}

 	footer{
 		display:block;
 	}
        .container{
            display:block;
 	}
 	}



/*quote design*/

#aamilne, #play, #tolstoy, #lived, #quote, #quote2{
	font-size: 25px;
	font-weight: bold;

	padding-top: 40px;
    padding-bottom: 90px;
}
